// TODO 6 homepage styling
.page-home {
  margin-top: 50px;
  h5 {
    font-weight: 300;
    margin-bottom: 20px;
  }
  .store-big-deals{
    margin-top: 50px;
  }
  .store-trend-categories {
    margin-top: 50px;
  }
  .store-trend-product {
    margin-top: 50px;
  }
  
}
